<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  title Кубик
  link(rel="stylesheet" href="styles/spectre/dist/spectre.css")
  link(rel="stylesheet" href="styles/main.css")
  link(rel="icon"       href="img/cube.png")
body
  mixin case(size, path, alg)
    div(class="column col-lg-6 col-sm-12 col-" + size)
      .cube-case
        .cube-icon
          img.cube-state(src=path)
        .cube-content
          if Array.isArray(alg)
            for a in alg
              span.cube-solution= a
              br
          else
            span.cube-solution= alg

  .container
    h2 Кубик 3x3. Алгоритмы CFOP

    .cube-step
      include content/f2l-step.pug
    .cube-step
      include content/oll-step.pug
    .cube-step
      include content/pll-step.pug

  script(src="js/main.js")
  