h4 OLL

.container.cube-cases
  .columns
    .column.col-3
      h5 Точка
    .column.col-3
      h5 Поцелуй
    .column.col-3
      h5 Крипер
    .column.col-3
      h5 Копьё
  .columns
    +case(3, "img/OLL/Dot/state-1.png", ["y (RU')無[(2RD')無(r丸U')]", "(R二2U) [(F丸R)進(2UR')]", "RU B' (l二U) x' U' (手R'F)"])
    +case(3, "img/OLL/Dot/state-3.png", ["MU (R'丸2F) (U進L') LM' ", "MR (U進R') (r丸2U) UM'", "y L' 2R (B進R') (L丸2U) BM'"])
    +case(3, "img/OLL/Dot/state-7.png", ["[MU無(R丸U)] (手R'F)", "R' 2U F (手RU) y' 2R 2U x' RU"])
    +case(3, "img/OLL/Dot/state-5.png", "(手FR') [MU無(R丸U')]")
  .columns
    +case(3, "img/OLL/Dot/state-2.png", ["y' (R'2U)無[(r丸U')無2U]", "(r丸U) (2U丸r) (R'丸2U) U'r'", "2y (手R'F) 2U (R'丸F) y' 2R 2U R"])
    +case(3, "img/OLL/Dot/state-4.png", ["MU' (r丸2U) (U'進R) R'M'", "y R' 2U x (手R'U) y (腕R'U') R' F"])
    +case(3, "img/OLL/Dot/state-8.png", ["r (腕UR') 2U2r (腕U'R) 2U r", "2y F (足RU) y' (R'進2U) (F丸R)"])


.container.cube-cases
  .columns
    .column.col-3
      h5 Звездолёт
    .column.col-3
      h5 Мельница
    .column.col-3
      h5 Буква H
  .columns
    +case(3, "img/OLL/4 Corners/state-1.png", "(M丸U)進2U")
    +case(3, "img/OLL/Dot/state-6.png", "r (U丸R') 2M (手UR) U' M'")
    +case(3, "img/OLL/4 Corners/state-2.png", "(手RU) M' (U丸R) r'")

.container.cube-cases
  .columns
    .column.col-6
      h5 Молния
    .column.col-6
      h5 Пьяный батя на толчке
  .columns
    +case(3, "img/OLL/900/state-1.png", "r丸[(腕UR') 2U]")
    +case(3, "img/OLL/930/state-3.png", "M' (足R'U') (R'丸2U) U'M")

    +case(3, "img/OLL/900/state-4.png", "(足RU) (R丸2U) [F丸(手RU)]")
    +case(3, "img/OLL/930/state-4.png", "MU (手RU) (手R'F) M'")
  .columns
    +case(3, "img/OLL/930/state-2.png", "l'丸[(腕U'L) 2U]")
    +case(3, "img/OLL/330/state-2.png", "r丸[2(UR') (足FR) 2U]")

    +case(3, "img/OLL/300/state-1.png", "(足R'U') (R'丸2U) [F丸(手RU)]")
    +case(3, "img/OLL/330/state-3.png", "MU' (手L'U') (手LF') M'")


.container.cube-cases
  .columns
    .column.col-9
      h5 Бумеранг
    .column.col-3
      h5 Галстук
  .columns
    +case(3, "img/OLL/900/state-5.png", "F丸2(手RU)")
    +case(3, "img/OLL/900/state-6.png", "r丸[2U (手R'U') (足R'U')]")
    +case(3, "img/OLL/330/state-1.png", "(r'二U) 2(U'2r) Ur'")

    +case(3, "img/OLL/900/state-3.png", "(手RU) (R'二F) (U丸R') F'")
  .columns
    +case(3, "img/OLL/300/state-4.png", "F'丸2(手L'U')")
    +case(3, "img/OLL/300/state-6.png", "r'丸[(腕U'R) (手UR) 2U]")
    +case(3, "img/OLL/300/state-5.png", "(r二U') 2(U2r) U'r")

    +case(3, "img/OLL/930/state-1.png", "(足RU) (手R'F) (R丸2U)")


.container.cube-cases
  .columns
    .column.col-3
      h5 Квадрат
    .column.col-3
      h5 Рыбка
    .column.col-3
      h5 Топор / Буква P
  .columns
    +case(3, "img/OLL/300/state-2.png", "r丸[2U (足R'U')]")
    +case(3, "img/OLL/900/state-2.png", "(手FR') (手UR)")

    +case(3, "img/OLL/P/state-1.png", "F丸(手UR)")
    +case(3, "img/OLL/P/state-2.png", ["R'U' [F丸(手UR)] R", "2y S' (手L'U') (手LF') S", "(難R'd') (R丸U') F'R"])
  .columns
    +case(3, "img/OLL/330/state-4.png", "r'丸[2U (足RU)]")
    +case(3, "img/OLL/300/state-3.png", ["(R二2U) (F丸R) (R丸2U)", "y' R'丸[(2U l)無(手RU')]"])

    +case(3, "img/OLL/P/state-4.png", "F'丸(手U'L')")
    +case(3, "img/OLL/P/state-3.png", ["2y S (手RU) (手R'F) S'", "LU [F'丸(手U'L')] L'", "(難Ld) (丸L'U) F L'"])
    
.container.cube-cases
  .columns
    .column.col-6
      h5 Червяк / Буква I
    .column.col-6
      h5 Дробовик / Буква L
  .columns
    +case(3, "img/OLL/Line/state-1.png", ["R' (足F'U') (足RU) R"])
    +case(3, "img/OLL/Line/state-3.png", "F丸2(手UR)")

    +case(3, "img/OLL/L/state-1.png", "[(R'F)無(R丸U)] (F丸U')")
    +case(3, "img/OLL/L/state-4.png", "(r丸U)無(手RU)")
  .columns
    +case(3, "img/OLL/Line/state-2.png", ["[r丸(2U R'二U')] (U丸R') (r丸U')"])
    +case(3, "img/OLL/Line/state-4.png", ["[F丸(手RU R)] [r丸(U丸R')]"])

    +case(3, "img/OLL/L/state-2.png", "F (U二R) (手R'U') R'F'")
    +case(3, "img/OLL/L/state-3.png", "(l'丸U')無 (手L'U')")

.container.cube-cases
  .columns
    .column.col-3
      h5 Кувалда / Буква T
    .column.col-3
      h5 Качёк / Буква C
    .column.col-3
      h5 Змейка / Буква Z
    .column.col-3
      h5 Буква W
  .columns
    +case(3, "img/OLL/T/state-1.png", "F丸(手RU)")
    +case(3, "img/OLL/C/state-1.png", "(R'進U') (F丸R) UR")
    +case(3, "img/OLL/Z/state-1.png", "R' [F丸(手RU)] UR")
    +case(3, "img/OLL/W/state-1.png", "(足RU) (足RU') (手R'F)")
  .columns
    +case(3, "img/OLL/T/state-2.png", "(手RU) (手R'F)")
    +case(3, "img/OLL/C/state-2.png", "(R二U) U'R' [F丸(腕RU)]")
    +case(3, "img/OLL/Z/state-2.png", ["2y (R丸B') U' (RU)無B", "L [F'丸(手L'U')] U'L'"])
    +case(3, "img/OLL/W/state-2.png", "(足L'U') (足L'U) (手LF')")
    

.container.cube-cases
  .columns
    .column.col-3
      h5 Крест
    .column.col-3
      h5 Sune
    .column.col-3
      h5 Танк
    .column.col-3
      h5 Слияние
  .columns
    +case(3, "img/OLL/Cross/state-1.png", ["f [(手RU)進S'] F'", "(四RU') 2R (四U'R)", "2y (難LU') (優L'U) (R'丸U)"])
    +case(3, "img/OLL/Cross/state-3.png", ["(R丸2U) (腕U'R)", "y (難L'U) LUR'"])
    +case(3, "img/OLL/Cross/state-5.png", ["(R進U) [(DR')無U'] 2R", "y (難R'F') (難RF')"])
    +case(3, "img/OLL/Cross/state-7.png", ["2y (R'進2U) [(D'R)無2U] 2R", "[(F'r)無(U丸R')] R", "y (回R'F') (回RF')"])
  .columns
    +case(3, "img/OLL/Cross/state-2.png", "(足RU) (手RU') (R丸2U)")
    +case(3, "img/OLL/Cross/state-4.png", ["(足RU) (R丸2U)", "y' (R'丸2U) (腕UR')"])
    +case(3, "img/OLL/Cross/state-6.png", "2R (D丸R'丸2U) (R'進2U)")
