h4 OLL

.container.cube-cases
  .columns
    .column.col-3
      h5 Точка
    .column.col-3
      h5 Поцелуй
    .column.col-3
      h5 Копьё
  .columns
    +case(3, "img/OLL/Dot/state-1.png", ["(R二2U) [(F丸R)進(2UR')]", "RU B' (l二U) x' U' (手R'F)"])
    +case(3, "img/OLL/Dot/state-3.png", ["MR (U進R') (r丸2U) UM'", "y L' 2R (B進R') (L丸2U) BM'"])
    +case(4, "img/OLL/Dot/state-5.png", ["(F丸R') MR (手UR) U'M'", "2y [R丸(U進R')] (F丸R) 2U (手R'F)"])
  .columns
    +case(3, "img/OLL/Dot/state-2.png", ["(r丸U) (2U丸r) (R'丸2U) U'r'", "2y (手R'F) 2U (R'丸F) y' 2R 2U R"])
    +case(3, "img/OLL/Dot/state-4.png", ["MU' (r丸2U) (U'進R) R'M'", "y R' 2U x (手R'U) y (腕R'U') R' F"])

.container.cube-cases
  .columns
    .column.col-3
      h5 Крипер
    .column.col-3
      h5 Лестница
  .columns
    +case(3, "img/OLL/Dot/state-7.png", ["[MU無(R丸U)] (手R'F)", "R' 2U F (手RU) y' 2R 2U x' RU"])
    +case(3, "img/OLL/W/state-1.png", "(足LU) (足LU') (手L'B)")
  .columns
    +case(3, "img/OLL/Dot/state-8.png", ["r (腕UR') 2U2r (腕U'R) 2U r", "2y F (足RU) y' (R'進2U) (F丸R)"])
    +case(3, "img/OLL/W/state-2.png", "(足R'U') (足R'U) (手RB')")

.container.cube-cases
  .columns
    .column.col-3
      h5 Звездолёт
    .column.col-3
      h5 Мельница
    .column.col-3
      h5 H
  .columns
    +case(3, "img/OLL/4 Corners/state-1.png", ["(M丸U)進2U ", "[r丸(U丸R')] R (手UR)"])
    +case(3, "img/OLL/Dot/state-6.png", ["r (U丸R') 2M (手UR) U' M'", "(M'丸2U)進[2U進(M'丸U)]"])
    +case(3, "img/OLL/4 Corners/state-2.png", ["(手RU) M' (U丸R) r'", "[L'丸(手RU)] (手R'F)"])

.container.cube-cases
  .columns
    .column.col-3
      h5 Молния
    .column.col-3
      h5 Змейка
  .columns
    +case(3, "img/OLL/900/state-1.png", "(優LF) (R同2F)")
    +case(3, "img/OLL/930/state-3.png", "2U M' R' (腕U'R) 2U R U' M")
  .columns
    +case(3, "img/OLL/930/state-2.png", "(L'B')無[L丸(手U'R')]")
    +case(3, "img/OLL/330/state-2.png", "2U M' L (腕UL') 2U L' U M")

.container.cube-cases
  .columns
    .column.col-6
      h5 Пьяный батя на толчке
    .column.col-3
      h5 Пьяный батя упал с толчка
  .columns
    +case(6, "img/OLL/900/state-4.png", "[U'進(R丸2U)] (R二U') y' (手R'U') B")
    +case(3, "img/OLL/930/state-4.png", "(B'進R) 2R U (手RU) R 2B")
  .columns
    +case(6, "img/OLL/300/state-1.png", "(U'二R') (足RU) 2R y (手RU) F'")
    +case(3, "img/OLL/330/state-3.png", "[(2R U)無(R'丸B')] (腕Ul)")

.container.cube-cases
  .columns
    .column.col-3
      h5 Бумеранг
  .columns
    +case(3, "img/OLL/900/state-5.png", "F丸2(手RU)")
    +case(3, "img/OLL/900/state-6.png", "(手LF') (2U 2L) y' (足LF)")
    +case(3, "img/OLL/330/state-1.png", "(腕LF') (2L 2U) x' (手UL')")
  .columns
    +case(3, "img/OLL/300/state-4.png", "F'丸2(手L'U')")
    +case(3, "img/OLL/300/state-6.png", "(手R'F) (2U 2R) y (足R'F')")
    +case(3, "img/OLL/300/state-5.png", "(腕R'F) (2R 2U) x' (手U'R)")

.container.cube-cases
  .columns
    .column.col-3
      h5 Галстук
  .columns
    +case(6, "img/OLL/900/state-3.png", "(R'丸U') y' x' (R丸U') F (R丸U)")
  .columns
    +case(6, "img/OLL/930/state-1.png", "(R丸U) y [R'F無(R丸U')]")



.container.cube-cases
  .columns
    .column.col-3
      h5 Квадрат
    .column.col-3
      h5 Рыбка
    .column.col-3
      h5 Топор
  .columns
    +case(3, "img/OLL/300/state-2.png", "r丸[2U (足R'U')]")
    +case(3, "img/OLL/900/state-2.png", "(手FR') (手UR)")

    +case(3, "img/OLL/P/state-1.png", "F丸(手UR)")
    +case(3, "img/OLL/P/state-2.png", ["R'U' [F丸(手UR)] R", "2y S' (手L'U') (手LF') S", "(難R'd') (R丸U') F' R"])
  .columns
    +case(3, "img/OLL/330/state-4.png", "r'丸[2U (足RU)]")
    +case(3, "img/OLL/300/state-3.png", ["(R二2U) (F丸R) (R丸2U)", "y' R'丸[(2U l)無(手RU')]"])

    +case(3, "img/OLL/P/state-4.png", "F'丸(手U'L')")
    +case(3, "img/OLL/P/state-3.png", ["LU [F'丸(手U'L')] L'", "2y S (手RU) (手R'F) S'", "(難Ld) (丸L'U) F L'"])
    
.container.cube-cases
  .columns
    .column.col-6
      h5 Буква I
    .column.col-6
      h5 Буква L
  .columns
    +case(3, "img/OLL/Line/state-1.png", ["(R丸U) (U丸R) (B丸U') R'", "R' U' [y丸(L'進U)] (L丸F) F R"])
    +case(3, "img/OLL/Line/state-3.png", "F丸2(手UR)")

    +case(3, "img/OLL/L/state-1.png", "[(R'F)無(R丸U)] y (L丸U')")
    +case(3, "img/OLL/L/state-4.png", "(RB)無[R'丸(手LU)]")
  .columns
    +case(3, "img/OLL/Line/state-2.png", ["RU' y [(2R D)無(R'丸2U)] d R'", "(四RU') R (U'二R') (F丸R)"])
    +case(3, "img/OLL/Line/state-4.png", ["[(r'丸U')進2(手U'R')]", "(L'B')無[L丸2(手U'R')]"])

    +case(3, "img/OLL/L/state-2.png", "[(LF')無(L'丸U')] y' (R'丸U)")
    +case(3, "img/OLL/L/state-3.png", "(L'B')無[L丸(手R'U')]")

.container.cube-cases
  .columns
    .column.col-3
      h5 Буква T
    .column.col-3
      h5 Буква C
    .column.col-3
      h5 Буква Z
  .columns
    +case(3, "img/OLL/T/state-1.png", "F丸(手RU)")
    +case(3, "img/OLL/C/state-1.png", "(RU x')無(手RU')")
    +case(3, "img/OLL/Z/state-1.png", "R' [F丸(手RU)] UR")
  .columns
    +case(3, "img/OLL/T/state-2.png", "(手RU) (手R'F)")
    +case(3, "img/OLL/C/state-2.png", "(手RU) x D' (R'丸U) E'")
    +case(3, "img/OLL/Z/state-2.png", "L [F'丸(手L'U')] U'L'")

.container.cube-cases
  .columns
    .column.col-3
      h5 Крест
    .column.col-3
      h5 Sune
    .column.col-3
      h5 Танк
    .column.col-3
      h5 Слияние
  .columns
    +case(3, "img/OLL/Cross/state-1.png", ["(四RU') 2R (四U'R)", "2y (難LU') (優L'U) (R'丸U)"])
    +case(3, "img/OLL/Cross/state-3.png", ["(R丸2U) (腕U'R)", "y (難L'U) LUR'"])
    +case(3, "img/OLL/Cross/state-5.png", "(難R'F') (難RF')")
    +case(3, "img/OLL/Cross/state-7.png", ["[(F'r)無(U丸R')] R", "y (回R'F') (回RF')"])
  .columns
    +case(3, "img/OLL/Cross/state-2.png", "(足RU) (手RU') (R丸2U)")
    +case(3, "img/OLL/Cross/state-4.png", ["(足RU) (R丸2U)", "y' (R'丸2U) (腕UR')"])
    +case(3, "img/OLL/Cross/state-6.png", "2R (D丸R'丸2U) (R'進2U)")
